<%= form_for @flux do |f| %>
<div class="col-8 offset-4" style='margin-bottom:50px'>
  <div class='form_group'>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Titre du Flux' %>
  </div>
  <div class="form_group">
    <%= f.text_field :url, class: 'form-control', placeholder: 'URL du Flux' %>
  </div>
  <div class="form_group">
    <input type="submit" class="btn btn-primary" value='Ajouter le Flux' >

  </div>
</div>
<% end %>

<button id="refresh" type="btn btn-primary">Rafraichir</button>

<div class="container-fluid">
  <div id="content" class="row">
  </div>
</div>

<script>
$(document).ready(function() {
  loadFluxes();
  });

  function changeStatus(id) {
    $.ajax({
        type: 'put',
        url: "/change",
        data: { element_id: id }
      }).done(function(a) {
        loadFluxes();
        console.log(a)
      });
  }


  function refresh(){
    $.ajax({
        url: "/refresh",
      }).done(function() {

      });
  }


  function loadFluxes(){
    $('#content').empty();
    $.ajax({
    url: "/content"
  }).done(function(fluxes) {
    
    for(let i=0; i < fluxes.length; i++){
      
      let flux = fluxes[i]
      document.getElementById('content').innerHTML += "<div class='col-4' >" +
      "<p>"+flux.title+"</p>" +
      "<div id='element"+flux.id+"' class='flux'>" +
      "</div>" +
   "</div>";

    for(let x=0; x < flux.elements.length; x++){
      let element = flux.elements[x]
      let date = new Date(element.date)
      let lien = "<a id='linkToRead"+element.id+"' data-remote='true' href='#' onClick='changeStatus("+element.id+");changeCSS("+element.id+","+element.status+")'>a</a>"
  
    document.getElementById('element'+ flux.id).innerHTML += "<div id='article_"+element.id+"' class='notRead element'>" +
         "<div class='headFlux'>" +
            "<div>" +
            "<a href='"+element.url+"'><p><strong>"+element.title+"</strong></p></a>" +
            "</div>" +
            "<div>" +
             " <small>" +
                "<p>"+date.toLocaleString()+"</p>" +
             " </small>" +
            "</div>" +
         " </div>" +
            "<p>"+element.resum+"</p>" +
            "<p id='lien_"+element.id+"'></p>" +
        "</div>" +
        "<hr>"
      document.getElementById('lien_'+element.id).innerHTML = lien
      
      if( element.status == true ){
        $("#article_"+element.id).removeClass("notRead");
        $("#linkToRead"+ element.id).text("Marqué comme non lu");
        }else{
        $("#linkToRead"+element.id).text("Marqué comme lu");
        }
    }
    }
  });
    
  }
  
</script>

