// Place all the styles related to the Fluxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    width: 100%
}

.flux {
    border: solid 1px black;
    overflow: auto; 
    height: 400px;
    padding: 10px
}

.headFlux{
    display: flex;
    justify-content: space-between

}

.element{
    min-height: 50%;
}


.nonLu{
    background-color: lightgray;
}

.lu{
    background-color: pink;
}