// Place all the styles related to the Fluxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    width: 100%
}

.blocFlux{
    border: solid 2px black;
    
    padding: 0 !important;
    margin: 20px
}

.titleFlux{
    height: 50px;
    text-align: center;
    border: solid 1px black; 
}

.flux {
    overflow: auto; 
    height: 500px;
}

.headFlux{
    display: flex;
    justify-content: space-between

}

.element{
    min-height: 30%;
    border: solid 1px black;
    margin: 10px;
    padding: 10px
    
}

.link{
    text-align: right;
}

.footerFlux{
    border: solid 1px black;
    height: 30px;
}

.notRead{
    background-color: lightgray;
}

#new_flux{
    margin-top: 50px;
}
